# AMD module definition
snippet def
	define(function(require) {
		${1}	
	});
# require module
snippet vreq
	var ${1:module} = require('${2:path}')${3:,}
# require module w/o var
snippet req
	${1:module} = require('${2:path}')${3:,}
# new backbone view
snippet bbView
	var ${1:view} = ${2:Backbone.View}.extend({
		${3}		
	});

	return $1;
